html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body{
    font-family: "Avenir Next";
}

li{
    list-style: none;
}

.header{
    background-color: #26d0c9;
    height: 90px;
    color: white;
}

.header-logo{
    float: left;
    font-weight: bold;
    font-size: 36px;
    padding: 24px 30px;
    margin-right: 20px;
}

.header-list li{
    float: left;
    padding: 33px 20px;
    font-size: 20px;
}

.main{
    padding: 60px 80px;
    text-align: center;
}

.main-content{
    margin-bottom: 100px;
}

.main-content h1{
    font-size: 110px;
}

.main-content h2{
    font-size: 50px;
}

.main-content span{
    color: orange;
}

.main-content img{
    height: 300px;
    width: 300px;
}

/*TENTANG SAYA*/
.about{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #e6e6e6;
}

.section-title{
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cacaca;
}

/*CONTOH PROYEK*/
.content{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 500px;
}

.contents-wrappper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.content-item{
    float: left;
    margin-right: 10px;
}

.content-item img{
    height: 300px;
    width: 300px;
}

.content-item p{
    margin-top: 20px;
}

/*HUBUNGI SAYA*/
.contact-form{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e6e6e6;
}

input, textarea{
    width: 500px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #dee7ec;
    font-size: 18px;
}

.form-submit{
    width: 300px;
    background-color: rgb(255, 185, 55);
}



/*FOOTER*/
footer{
    background-color: #666666;
    color: white;
    height: 80px;
    padding: 20px;
}

.footer-logo{
    padding-top: 10px;
    float: left;
    font-size: 30px;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 10px;
}